@model proyecto_mascotas.Models.LoginViewModel

@{
    ViewData["Title"] = "Login";
}

<div class="container bg-dark">
  <div class="row no-gutter">
    <div class="d-none d-md-flex col-md-4 col-lg-6 bg-image-register"></div>
    <div class="col-md-8 col-lg-6">
      <div class="login d-flex align-items-center py-5">
        <div class="container">
          <div class="row">
            <div class="col-md-9 col-lg-8 mx-auto text-white">
              <h3 class="text-center mb-4">Iniciar Sesión</h3>
              <form method="post">
                 <div asp-validation-summary="All" class="text-danger"></div>
                  <div class="form-group">
                      <label asp-for="Email"></label>
                      <input asp-for="Email" class="form-control" />
                      <span asp-validation-for="Email" class="text-danger"></span>
                  </div>

                  <div class="form-group">
                      <label asp-for="Password"></label>
                      <input asp-for="Password" class="form-control" />
                      <span asp-validation-for="Password" class="text-danger"></span>
                  </div>

                  <div class="form-group">
                      <div class="custom-control custom-checkbox">
                          <input asp-for="RememberMe" type="checkbox" class="custom-control-input">
                          <label class="custom-control-label" asp-for="RememberMe">@Html.DisplayNameFor(m => m.RememberMe)</label>
                      </div>
                  </div>
                <button class="btn btn-lg btn-primary btn-block btn-login text-uppercase font-weight-bold mb-2" type="submit">Ingresar</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

