@{
   ViewData["Tittle"] = "Sobre Nosotros";
}

<div class="container bg-dark text-center text-white p-3 w-100">
  <h2>Sobre Nosotros</h2>
  <img src="~img/logo.png" alt="">

  <p class="mx-4 mb-3">Somos un grupo formado por un conjunto de oranizaciones sin fines de lucro, con ayuda de diversos sectores como asi tambien de muchas personas, con la intencion
      de ayudar y brindar apoyo a esos pequeños seres que nos acompañan en nuestras vidas y forman parte de nuestras familias, solo buscamos la ayuda comunitaria de todos
      y visibilizar aquel sector en donde las voces no se escuchan pero si emiten un ruido de ayuda.
  </p>
  <h3>Algunas de las Organizaciones</h3>
  <div class="d-flex justify-content-around my-5">
            <div class="card card-history">
                <div class="box">
                    <div class="img">
                        <img class="rounded-circle" src="~/img/ONG/hogar san roque.jpg" style="width: 150px;height:150px">
                    </div>
                    <h2 class="name-history">Hogar San Roque<br></h2>
                    <p>Somos una ONG que seguimos los pasos de nuestro santo patrono y ayudamos a nuestras mascotas.</p>
                    <span>
                        <ul>
                            <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                            <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fab fa-google-plus-g"></i></a></li>
                            <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                        </ul>
                    </span>
                </div>
            </div>
            <div class="card card-history">
                <div class="box">
                    <div class="img">
                        <img class="rounded-circle" src="~/img/ONG/narices frias.jpg" style="width: 150px;height:150px">
                    </div>
                    <h2 class="name-history">Narices Frias<br></h2>
                    <p>Somos una oranización sin fines de lucro el único fin que tiene es ayudar a los animales en situación de calle y abandonados.</p>
                    <span>
                        <ul>
                            <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                            <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fab fa-google-plus-g"></i></a></li>
                            <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                        </ul>
                    </span>
                </div>
            </div>
            <div class="card card-history">
                <div class="box">
                    <div class="img">
                        <img class="rounded-circle p-1 mt-3" src="~/img/ONG/Voz animal.jpg" style="width: 150px;height:150px">
                    </div>
                    <h2 class="name-history">Voz Animal<br></h2>
                    <p>Solo buscamos que escuchen las voces de aquellos que no pueden hablar, ayudamos a los animales en situaciones de maltrato o abandono.</p>
                    <span>
                        <ul>
                            <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                            <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fab fa-google-plus-g"></i></a></li>
                            <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                        </ul>
                    </span>
                </div>
            </div>
        </div>   
</div>